.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.action {
    composes: text from 'components/Button/button.module.css';
    text-decoration: none;
    color: rgb(var(--venia-global-color-black));
    --stroke: rgb(var(--venia-global-color-black));
    padding: 0 0 0 1.125rem;
}

.row {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 30px;
}

.row::-webkit-scrollbar {
    display: none;
}

.row::after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10px;
    height: 100%;
    right: 0;
    position: absolute;
    z-index: 5;
    margin-left: auto;
    top: 0;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.7) 40%,
        #fff 70%
    );
}

@screen xl {
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: visible;
        width: 100%;
    }

    .row::after {
        content: none;
    }
}

.filterBlocks {
    display: flex;
    padding-left: 1.125rem;
}

.selectedFilters {
    display: flex;
    flex-wrap: wrap;
}
