.topImage {
    width: 100%;
    height: auto;
}

.container {
    grid-template-columns: 1fr;
    text-align: center;
    display: grid;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        text-align: left;
        column-gap: 6rem;
    }
}

.aboutBlockText {
    margin: 0 20px;
}

.container h2 {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .container h2 {
        font-size: 2.5rem;
    }
}

.aboutBlockText p {
    margin-top: 30px;
    font-size: 18px;
}

.aboutBlockImage {
    align-self: center;
    justify-self: flex-end;
    padding: 40px;
}

.aboutBlockText {
    order: 1;
}

.aboutBlockImage {
    order: 2;
}

.aboutBlockOne .aboutBlockImage img {
    box-shadow: 22px 22px 0 0 rgb(var(--color-gray-100));
}

.aboutBlockTwo .aboutBlockImage img {
    box-shadow: -22px 22px 0 0 rgb(var(--color-gray-100));
}

@media (min-width: 1024px) {
    .aboutBlockOne .aboutBlockImage img {
        box-shadow: 40px 40px 0 0 rgb(var(--color-gray-100));
    }

    .aboutBlockTwo .aboutBlockImage img {
        box-shadow: -40px 40px 0 0 rgb(var(--color-gray-100));
    }

    .aboutBlockText {
        order: unset;
    }

    .aboutBlockImage {
        order: unset;
    }
}
