.root {
    display: flex;
}

.icon {
    align-items: center;
    background: rgb(var(--venia-global-color-gray-200));
    border-radius: 100%;
    color: rgb(var(--venia-global-color-black));
    display: flex;
    font-size: var(--venia-global-fontSize-200);
    font-weight: bold;
    height: 38px;
    justify-content: center;
    line-height: 48px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 38px;
}

@media (min-width: 1024px) {
    .icon {
        width: 48px;
        height: 48px;
    }
}
