.root {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
}

.loader {
    composes: indicator from '@magento/venia-ui/lib/components/LoadingIndicator/indicator.module.css';
}
