.root {
    background-color: rgb(var(--venia-global-color-background));
    color: rgb(var(--venia-global-color-text));
    position: relative;
    z-index: 1;
}

.root_masked {
    composes: root;
}

.page {
    margin: 0 auto;
    min-height: 40rem;
    padding-bottom: 30px;
    max-width: var(--venia-global-maxWidth);
}

.page_masked {
    composes: page;
}

@media (min-height: 640px) {
    .page {
        min-height: 48rem;
    }
}

@media (min-height: 768px) {
    .page {
        min-height: 60rem;
    }
}

@media (min-height: 960px) {
    .page {
        min-height: 72rem;
    }
}
