.root {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';
    composes: text-sm from global;
    --stroke: none;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0;
    background: none;
    font-weight: bold;
    max-width: 100%;
    min-height: 2rem;
    outline: none;
    color: rgb(var(--color-white));
    padding: 10px 24px;
    background: rgb(var(--color-secondary));
}

/**
 * Some browsers retain the :hover state after a click, this ensures if a button becomes disabled after
 * being clicked it will be visually disabled.
 */
.root:disabled,
.root:hover:disabled {
    pointer-events: none;
    border-color: var(--color-gray-400);
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.35rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* button sizes */

.smallSize {
    composes: root;
    padding: 0px 15px;
}

.mediumSize {
    composes: root;
    padding: 10px 24px;
}

.largeSize {
    composes: root;
    padding: 20px 30px;
}

/* variants of the button */

/* derived classes */
.contained {
    composes: root;
    color: rgb(var(--color-white));
    border-color: rgb(var(--color-secondary));
    background: rgb(var(--color-secondary));
}

.contained:hover {
    border-color: rgb(var(--color-primary));
}

.outlined {
    composes: root;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(var(--color-gray-200));
    background: none;
    color: rgb(var(--color-primary));
}

.text {
    composes: root;
    color: rgb(var(--color-primary));
    background: none;
}

.root_lowPriority {
    composes: root;
    --stroke: var(--venia-global-color-gray-700);
}
.root_lowPriority:hover {
    --stroke: var(--venia-global-color-gray-900);
}
.root_lowPriorityNegative {
    composes: root_lowPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_lowPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_normalPriority {
    composes: root;
}
.root_normalPriorityNegative {
    composes: root_normalPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_normalPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_highPriority {
    composes: root;
    background-color: rgb(var(--color-secondary));
    color: rgb(var(--venia-global-color-gray-50));
}
.root_highPriorityNegative {
    composes: root_highPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_highPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}
