.items {
    display: grid;
    gap: 0.25rem;
    align-content: flex-start;
    grid-template-columns: 100%;
    padding: 0.2rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}

@screen lg {
    .items {
        height: 310px;
    }
}

.showMoreLessItem {
    padding-left: 3px;
}

.showMoreLessButton {
    font-size: 14px;
    text-decoration: underline;
}

.showMoreLessButton:hover {
    text-decoration: none;
}
