.items {
    display: grid;
    gap: 0.25rem;
    align-content: flex-start;
    grid-template-columns: 100%;
    padding: 0.2rem;
    overflow-y: auto;
    margin-bottom: 1rem;
    height: 100%;
}

@screen lg {
    .items {
        max-height: 310px;
    }
}
