.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

@screen md {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
