.categoryItem {
    padding-bottom: 8px;
}

.categoryItem_active {
    composes: categoryItem;
    font-weight: var(--venia-global-fontWeight-bold);
}

.categoryItem_active .button {
    font-weight: var(--venia-global-fontWeight-bold);
}

.categoryName {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 18px;
    position: relative;
}

.dropdownIcon {
    position: absolute;
    left: -10px;
}

.button {
    font-size: var(--venia-global-fontSize-200);
    text-align: left;
}

.button:hover {
    color: rgb(var(--venia-global-color-orange));
}
