.subcategoryItem {
    padding: 0 0 10px 16px;
    text-align: left;
}

.subcategoryItem_active {
    composes: subcategoryItem;
}

.subcategoryItem_active .button_active {
    font-weight: var(--venia-global-fontWeight-bold);
}

.submenuChild {
    padding: 10px 0 0 16px;
}

.subcategoryItemChild {
    padding: 0 0 10px 16px;
}

.subcategoryItemChild:hover {
    color: rgb(var(--venia-global-color-orange));
}

.subcategoryItem .button:hover {
    color: rgb(var(--venia-global-color-orange));
}

.subcategoryItem:last-child {
    padding-bottom: 0;
}

.subcategoryItemChild:last-child {
    padding-bottom: 0;
}

.subcategoryName {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 18px;
    position: relative;
}

.dropdownIcon {
    position: absolute;
    left: -10px;
}

.button {
    text-align: left;
}

.button_active {
    font-weight: var(--venia-global-fontWeight-bold);
}
