.root {
    position: relative;
    display: block;
    justify-items: stretch;
    margin: 0px;
    background: rgb(var(--color-orange-50));
    border-radius: 24px;
    width: 100%;
    composes: p-5 lg_p-14 from global;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form label {
    position: absolute;
    z-index: -11111;
}

.buttonSubmit {
    composes: contained from '../Button/button.module.css';
    composes: mediumSize from '../Button/button.module.css';
    composes: bg-secondary from global;
    border-color: rgb(var(--color-secondary));
    margin-left: 10px;
}

.title {
    composes: text-2xl from global;
    color: rgb(var(--color-primary));
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.newsletter_text {
    margin-bottom: 20px;
}

.loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(252, 252, 252, 0.75);
}

@media screen and (max-width: 767px) {
    .buttonsContainer {
        display: grid;
    }

    .subscribe_link {
        display: none;
    }

    .root {
        grid-column: span 2;
    }
}
