.stepsBlock {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .stepsBlock {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .stepsBlock {
        margin-bottom: 70px;
    }
}

.stepsBlockImage {
    order: 1;
    margin-bottom: 30px;
}

.stepsBlockInfo {
    order: 2;
}

@media (min-width: 768px) {
    .stepsBlock:nth-child(odd) .stepsBlockImage {
        order: 2;
    }

    .stepsBlock:nth-child(odd) .stepsBlockInfo {
        order: 1;
    }
}

.stepsBlockNumber {
    margin-bottom: 26px;
    padding: 0px;
    background: rgb(var(--venia-global-color-orange-400));
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: rgb(var(--venia-global-color-white));
    border-radius: 100%;
}

@media (min-width: 768px) {
    .stepsBlock:nth-child(odd) .stepsBlockInfo {
        padding-right: 80px;
    }

    .stepsBlock:nth-child(even) .stepsBlockInfo {
        padding-left: 80px;
    }
}

.stepsBlockInfo img {
    margin-bottom: 10px;
}

.stepsBlockInfo h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 130%;
}

@media (min-width: 1200px) {
    .stepsBlockInfo h2 {
        font-size: 2.4rem;
    }
}

.stepsBlockInfo p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.stepsBlockInfo ul li {
    margin-bottom: 8px;
    padding-left: 25px;
    font-weight: bold;
    color: rgb(var(--venia-global-color-black));
    background: url(./assets/neto_page_check.png) no-repeat left top 6px;
}
