:root {
    --search-sidebar-width: 270px;
}

.root {
    padding: 1rem;
}

.noResult {
    display: flex;
}

.headerButtons {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 1rem 0;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchInfo {
    line-height: var(--venia-global-typography-heading-lineHeight);
    margin: 2.5rem 0 1rem;
    max-width: 75vw;
}

.totalPages {
    margin-left: 0.5rem;
}

.headingHighlight {
    font-weight: var(--venia-global-fontWeight-bold);
}

.contentWrapper {
    width: 100%;
}

.sidebar {
    display: none;
}

@media (min-width: 1024px) {
    .contentWrapper {
        display: flex;
    }

    .heading {
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .searchInfo {
        margin: 0;
        flex-basis: 100%;
    }

    .headerButtons {
        justify-content: flex-end;
    }

    .sidebar {
        display: flex;
        align-self: flex-start;
        width: var(--category-sidebar-width);
        padding-top: 2.8rem;
    }

    .searchContent {
        flex-grow: 1;
    }
}
