.wrapper {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-areas: 'input icon';
    grid-template-columns: auto 2.25rem;
    height: 2.25rem;
}

.input,
.input_error {
    composes: input from 'components/Field/field.module.css';
    grid-area: input-start / input-start / input-end / icon-end;
    padding-right: calc(2.25rem - 1px);
    height: 44px;
}

.input:disabled {
    pointer-events: none;
    color: rgb(var(--venia-global-color-gray-darker));
}

.input_error {
    border-color: rgb(var(--venia-global-color-error));
}

.placeholder {
    color: rgb(var(--venia-global-color-gray-300)) !important;
}
