.range_slider {
    margin: auto;
    text-align: center;
    position: relative;
}

.range_slider input[type='range'] {
    position: absolute;
    left: 0;
    top: 0;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    gap: 0.5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
}

input[type='range']:focus {
    outline: none;
}

input[type='range'] {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: rgb(var(--venia-global-color-gray-300));
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

.slider input[type='range']::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px rgb(var(--venia-global-color-black));
    border: 1px solid rgb(var(--venia-global-color-orange));
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background: rgb(var(--venia-global-color-orange));
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0;
}

.slider {
    position: relative;
    height: 2rem;
    margin-bottom: 1.5rem;
}
