.root {
    align-content: center;
    align-items: center;
    display: grid;
    gap: 3rem;
    height: calc(100% - 6rem);
    justify-content: center;
    justify-items: center;
    margin: 3rem 0;
    width: 100%;
}

.global {
    composes: root;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgba(var(--venia-global-color-white));
    z-index: 100;
    opacity: 0.7;
}

.message {
    color: rgb(var(--venia-global-color-text-alt));
    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.indicator {
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes pulse {
    0% {
        filter: grayscale(1);
        transform: scale(0.75) rotate(-540deg);
    }
    100% {
        filter: grayscale(0);
        transform: scale(1) rotate(0deg);
    }
}

.customIndicator {
    box-sizing: border-box;
    width: 128px;
    height: 128px;
    position: relative;
    transform: scale(0.5);
}

.customIndicator div {
    position: absolute;
    width: 30px;
    height: 10px;
    left: 16px;
    top: 0px;
    background: black;
    animation: colorChange 0.96s infinite;
}

.customIndicator div:nth-child(1) {
    left: 19px;
    top: 0px;
}
.customIndicator div:nth-child(2) {
    left: 58px;
    top: 0px;
}
.customIndicator div:nth-child(3) {
    left: 97px;
    top: 0px;
}
.customIndicator div:nth-child(4) {
    left: 106px;
    top: 28px;
    transform: rotate(90deg);
}
.customIndicator div:nth-child(5) {
    left: 106px;
    top: 67px;
    transform: rotate(90deg);
}
.customIndicator div:nth-child(6) {
    left: 106px;
    top: 106px;
    transform: rotate(90deg);
}
.customIndicator div:nth-child(7) {
    left: 78px;
    top: 116px;
}
.customIndicator div:nth-child(8) {
    left: 39px;
    top: 116px;
}
figure div:nth-child(9) {
    left: 0px;
    top: 116px;
}
.customIndicator div:nth-child(10) {
    left: -10px;
    top: 87px;
    transform: rotate(90deg);
}
.customIndicator div:nth-child(11) {
    left: -10px;
    top: 48px;
    transform: rotate(90deg);
}
.customIndicator div:nth-child(12) {
    left: -10px;
    top: 9px;
    transform: rotate(90deg);
}
.customIndicator div:nth-child(1) {
    animation-delay: 0.08s;
}
.customIndicator div:nth-child(2) {
    animation-delay: 0.16s;
}
.customIndicator div:nth-child(3) {
    animation-delay: 0.24s;
}
.customIndicator div:nth-child(4) {
    animation-delay: 0.32s;
}
.customIndicator div:nth-child(5) {
    animation-delay: 0.4s;
}
.customIndicator div:nth-child(6) {
    animation-delay: 0.48s;
}
.customIndicator div:nth-child(7) {
    animation-delay: 0.56s;
}
.customIndicator div:nth-child(8) {
    animation-delay: 0.64s;
}
.customIndicator div:nth-child(9) {
    animation-delay: 0.72s;
}
.customIndicator div:nth-child(10) {
    animation-delay: 0.8s;
}
.customIndicator div:nth-child(11) {
    animation-delay: 0.88s;
}
.customIndicator div:nth-child(12) {
    animation-delay: 0.96s;
}

@keyframes colorChange {
    70% {
        background-color: rgb(var(--venia-global-color-gray-200));
    }
}
