.root {
    align-items: center;
    display: grid;
    /* The full height of the site header minus (box shadow height * 2). */
    height: calc(5rem - 8px);
}

.root_open {
    composes: root;
    position: relative;
}

.trigger {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';

    height: 3rem;
    min-width: 4rem;
    z-index: 1;
}
