.actionButtons {
    display: flex;
    align-items: center;
}

.sellLink {
    composes: root text smallSize from 'components/Button/button.module.css';
    color: rgb(var(--venia-global-color-primary));
    display: none;
}

@media (min-width: 768px) {
    .sellLink {
        display: flex;
    }
}

.loginButton {
    composes: outlined from 'components/Button/button.module.css';
    display: none;
    margin-right: 0.5rem;
    color: rgb(var(--venia-global-color-black));
}

@media (min-width: 768px) {
    .loginButton {
        display: flex;
    }
}

.signupButton {
    composes: contained primary from 'components/Button/button.module.css';
}

@media (max-width: 1024px) {
    .signupButton,
    .loginButton {
        padding: 0 15px;
    }
}

.counter {
    top: 0.125rem;
    position: absolute;
    left: 1.75rem;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 0.25rem;
    background-color: rgb(var(--venia-global-color-primary));
    border-radius: 100px;
    color: rgb(var(--venia-global-color-white));
    line-height: 1.25rem;
    min-width: 1.25rem;
    font-size: 0.8125rem;
}
