.actionButtons {
    display: flex;
    align-items: center;
}

.sellLink {
    composes: root text smallSize from 'components/Button/button.module.css';
    composes: text-primary from global;
    composes: hidden md_flex from global;
}

.loginButton {
    composes: outlined from 'components/Button/button.module.css';
    composes: hidden sm_flex from global;
    margin-right: 0.5rem;
    color: rgb(var(--color-black));
}

.signupButton {
    composes: contained from 'components/Button/button.module.css';
    background: rgb(var(--color-primary));
}

@media (max-width: 1024px) {
    .signupButton,
    .loginButton {
        padding: 0 15px;
    }
}

.counter {
    top: 0.125rem;
    position: absolute;
    left: 1.75rem;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 0.25rem;
    background-color: rgb(var(--color-primary));
    border-radius: 100px;
    color: rgb(var(--color-white));
    line-height: 1.25rem;
    min-width: 1.25rem;
    font-size: 0.8125rem;
}
