.root {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';
    margin-left: 0;
    align-content: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    min-width: 3rem;
    position: relative;
}

@media (min-width: 1280px) {
    .root {
        margin-right: 0.25rem;
    }
}

.counter {
    composes: counter from './actionButtons.module.css';
    display: block;
}

@media (min-width: 1280px) {
    .counter {
        display: none;
    }
}

.subtotal {
    display: none;
    font-size: var(--venia-global-fontSize-100);
    font-weight: var(--venia-global-fontWeight-semibold);
    padding: 0 0.5rem;
    color: rgb(var(--venia-global-color-black));
}

@media (min-width: 1280px) {
    .subtotal {
        display: block;
    }
}
