.counter {
    composes: counter from './actionButtons.module.css';
}

.trigger {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';
    align-content: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    min-width: 3rem;
    position: relative;
    z-index: 1;
}

.triggerContainer {
    align-items: center;
    display: grid;
    /* The full height of the site header minus (box shadow height * 2). */
    height: calc(5rem - 8px);
}

.triggerContainer_open {
    composes: triggerContainer;
}

.link {
    composes: trigger;
    display: none;
}

/*
 * Mobile-specific styles.
 */
@media (max-width: 960px) {
    .triggerContainer {
        display: none;
    }

    .link {
        display: flex;
    }
}
