.root {
    --content-width: 27.5rem;
    position: relative;
    height: 0;
    overflow: visible;
    left: -100vw;
    opacity: 0;
    position: absolute;
    top: 70px;
    visibility: hidden;
    z-index: 3;
    transform: translate3d(-50%, 0, 0);
}

.root::after {
    content: '';
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(var(--venia-global-color-gray-200));
    right: -32px;
    top: -4px;
}

.root_open {
    composes: root;
    left: 50%;
    opacity: 1;
    transition: opacity 224ms var(--venia-global-anim-in),
        visibility 224ms var(--venia-global-anim-in), left 0s;
    visibility: visible;
}

.contents {
    position: absolute;
    right: -90px;
    top: 0px;
    width: 250px;
    background: rgb(var(--venia-global-color-gray-200));
    border-radius: 5px;
    z-index: 11;
}

.contents_open {
    composes: contents;
    transform: translate3d(0, 4px, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
}

.createAccount {
    display: grid;
    gap: 0.9375rem;
    justify-items: stretch;
    padding: 1rem 1.5rem;
}

.forgotPassword {
    padding: 2rem;
}

.loading {
    padding: 2rem;
}
