.root {
    display: grid;
    grid-auto-flow: row;
    justify-content: stretch;
    padding: 0.5rem;
}

.link {
    composes: root from '@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';
    composes: leading-8 from global;
    composes: pl-5 from global;
    justify-content: start;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    color: rgb(var(--color-gray-700));
}

.link:hover {
    background: rgb(var(--color-secondary));
    color: rgb(var(--color-white));
}

.signOut {
    composes: link;
    border-top: 2px solid rgb(var(--color-gray));
}
