/* Large screen styles */
.megaMenu {
    composes: lg_absolute from global;
    composes: lg_flex-col from global;
    composes: text-sm from global;
    margin-top: -7px;
    border: 1px solid rgb(var(--color-gray-100));
    width: 280px;
    background: rgb(var(--color-white));
    color: rgb(var(--color-gray-700));
    display: none;
}
