.submenuColumn {
    padding-left: 30px;
    composes: flex items-center h-9 from global;
}

.heading {
    font-weight: 600;
}

.link {
    white-space: nowrap;
}

.link:hover,
.link:focus,
.linkActive {
    text-decoration: underline;
}

.submenuChild {
    margin-top: 21px;
}

.submenuChildItem {
    margin-bottom: 12px;
}
