.title {
    font-size: var(--venia-global-typography-heading-XXL-fontSize);
    font-weight: var(--venia-global-fontWeight-bold);
    margin-bottom: 2rem;
}

.disclaimerTitle {
    font-size: var(--venia-global-typography-heading-XXL-fontSize);
    font-weight: var(--venia-global-fontWeight-bold);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.disclaimer {
    border: 1px solid;
    padding: 20px;
    text-align: center;
}

.terms a,
.link {
    color: rgb(var(--venia-global-color-secondary));
}

.terms h2 {
    display: inline-block;
    margin-top: 30px;
}

/* first level counter */
.terms > ol > li::before,
.terms h2 {
    padding-right: 10px;
    font-size: var(--venia-global-fontSize-700);
    font-weight: var(--venia-global-fontWeight-bold);
}

.terms ol {
    counter-reset: item;
    margin-top: 10px;
}

/* counters on every li inside ol list */
.terms ol > li::before {
    counter-increment: item;
    content: counters(item, '.') '. ';
    padding-right: 10px;
}

.terms ul {
    margin: 15px 0 0 30px;
}

.terms li {
    margin-bottom: 15px;
}
