.hidden {
    opacity: 0;
    transform: translate3d(0, -2rem, 0);
    transition-duration: 192ms;
    transition-timing-function: var(--animation-out);
    visibility: hidden;
}

.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--animation-in);
    visibility: visible;
}

.root {
    background-color: rgb(var(--color-white));
    border: 2px solid rgb(var(--color-gray-200));
    border-radius: 0 0 6px 6px;
    border-top-style: none;
    display: grid;
    font-size: 0.8125rem;
    gap: 0.75rem;
    left: 0;
    padding: 1rem 1rem;
    position: absolute;
    right: 0;
    top: 2.25rem;
    transition-property: opacity, transform, visibility;
    z-index: 2;
}

.root_hidden {
    composes: root hidden;
}

.root_visible {
    composes: root visible;
}

.message {
    color: rgb(var(--color-gray-darker));
    padding: 0 0.75rem;
    text-align: center;
}

.message:empty {
    padding: 0;
}

.suggestions {
    display: grid;
    gap: 0.5rem;
}

.suggestions:empty {
    display: none;
}
