.root {
    composes: text-gray-900 from global;
    display: grid;
    align-content: start;
    width: 100%;
}

.label {
    align-items: center;
    display: flex;
    font-size: 1rem;
    composes: font-semibold from global;
    justify-content: space-between;
    line-height: 1.25rem;
    padding: 0.5625rem 0.125rem;
    min-height: 2.5rem;
}

.input_base {
    border-radius: 6px;
    composes: text-base from global;
    margin: 0;
    max-width: 100%;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    width: 100%;
}

.input {
    composes: input_base;
    composes: text-gray-900 from global;
    composes: bg-white from global;
    border: 2px solid rgb(var(--color-gray-200));
    display: inline-flex;
    flex: 0 0 100%;
    -webkit-appearance: none;
}

.input:focus {
    outline: none;
}

.optional {
    composes: text-gray-700 from global;
    composes: text-sm from global;
}
