.root {
    composes: text-sm text-gray-900 from global;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.625rem 0.125rem 0.125rem;
}

.root:empty {
    display: none;
}

.root_error {
    composes: root;
    composes: font-semibold text-error from global;
}
