.container {
    padding: 0 0 50px 0;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .container {
        padding: 0 90px 80px 90px;
        overflow: hidden;
    }
}

.container :global .slider-control-centerright {
    right: -90px !important;
}

.container :global .slider-control-centerleft {
    left: -90px !important;
}

.dotsContainer {
    top: 30px !important;
}

@media (min-width: 1024px) {
    .dotsContainer {
        top: 50px !important;
    }
}

.container :global .paging-item :local .dots {
    padding: 0 5px;
    fill: rgb(var(--venia-global-color-gray-400)) !important;
}

.container :global .paging-item.active :local .dots {
    fill: rgb(var(--venia-global-color-orange-400)) !important;
}

.dots svg {
    width: 14px;
    height: 14px;
}

.container :global .paging-dot > circle {
    r: 5px;
    cx: 8px;
    cy: 8px;
}
