.root {
    --stroke: var(--color-gray-600);
    align-items: center;
    color: rgb(var(--color-gray-900));
    display: grid;
    gap: calc(0.875rem - 5px);
    grid-auto-flow: column;
    grid-template-areas: 'input label';
    grid-template-columns: min-content 1fr;
    justify-items: center;
    line-height: 1.5rem;
}

.input_base {
    border-radius: 4px;
    height: 1.5rem;
    width: 1.5rem;
}

.input {
    composes: input_base;
    -webkit-appearance: none;
    background: none;
    border: 2px solid transparent;
    cursor: pointer;
    grid-area: input;
}

.icon {
    grid-area: input;
    height: 1.5rem;
    pointer-events: none;
    width: 1.5rem;
}

.icon svg {
    stroke: rgb(var(--stroke));
}

.label {
    cursor: pointer;
    font-size: var(--venia-typography-body-M-fontSize);
    grid-area: label;
    justify-self: start;
}

.input:disabled {
    cursor: default;
}

/* When the input is disabled, update the cursor on the sibling label element. */
.input:disabled ~ .label {
    cursor: default;
}

.input:checked:enabled + .icon {
    --stroke: var(--color-primary);
}

.input:active:enabled,
.input:focus:enabled {
    outline: none;
}

.input_shimmer {
    composes: input_base;
}
