.root {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: rgb(var(--venia-global-color-primary));
}

.root > span {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    color: rgb(var(--venia-global-color-white));
    font-weight: bold;
}

.arrowDown {
    --stroke: rgb(var(--venia-global-color-white));
}
