.root {
    display: grid;
    grid-auto-flow: row;
    justify-content: stretch;
    padding: 0.5rem;
    background: rgb(var(--venia-global-color-gray-100));
    border-radius: 10px;
    padding: 16px 20px;
}

.link {
    composes: root from '@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';
    border-radius: 10px;
    color: rgb(var(--venia-global-color-gray-800));
    font-size: 15px;
    font-weight: bold;
    justify-content: start;
    margin: 0.2rem 0;
    padding: 0.5rem 0 0.5rem 1.25rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}

.link:hover {
    background: rgb(var(--venia-global-color-orange-400));
    color: rgb(var(--venia-global-color-white));
    border-radius: 10px;
}

.link svg {
    margin-right: 0.5rem;
    stroke: rgb(var(--venia-global-color-gray-800));
}

.link:hover svg {
    stroke: rgb(var(--venia-global-color-white));
}

.activeLink {
    composes: link;
    background: rgb(var(--venia-global-color-orange-400));
    color: rgb(var(--venia-global-color-white));
}

.activeLink svg {
    stroke: rgb(var(--venia-global-color-white));
}

.signOut {
    composes: link;
    border-top: 2px solid rgb(var(--venia-global-color-gray));
}
