.root {
    position: relative;
}

.trigger {
    padding: 5px 10px;
}

@screen md {
    .trigger {
        padding: 10px 20px;
    }
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    column-gap: 0.5rem;
}

.name {
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
}

.list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.filterName {
    font-size: var(--venia-global-fontSize-200);
    font-weight: var(--venia-global-fontWeight-bold);
}

.search {
    margin: 10px 0;
}

.clearButton {
    composes: text from 'components/Button/button.module.css';
    padding: 0;
    color: rgb(var(--venia-global-color-orange));
}

.applyButton {
    text-align: right;
    margin: 30px 0 10px 0;
}
