.root {
    margin: 0;
    padding: 25px 0px;
    width: 100%;
    background: url(./assets/neto_apply_seller_bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) {
    .root {
        padding: 75px 0px;
        border-radius: 32px;
    }
}

.root h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.button {
    composes: mediumSize from 'components/Button/button.module.css';
}

@media (min-width: 1200px) {
    .root {
        margin-bottom: 120px;
    }
    .root h2 {
        font-size: 3.25rem;
        margin-bottom: 40px;
    }

    .button {
        padding: 20px 30px;
    }
}
