.root {
    text-align: center;
    margin-bottom: 30px;
}

.root h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .root {
        margin-bottom: 120px;
    }
    .root h2 {
        font-size: 3.5rem;
        margin-bottom: 80px;
    }
}
