.root {
    font-size: var(--venia-global-fontSize-100);
    color: rgb(var(--venia-global-color-text-alt));
    width: 100%;
    border-top: 2px solid rgb(var(--venia-global-color-gray-100));
    display: grid;
    grid-template-areas:
        'main'
        'brand';
    grid-template-columns: 100%;
    padding-top: 2rem;
    margin: 0 auto;
    max-width: var(--venia-global-maxWidth);
}

.main {
    grid-area: main;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    padding: 0 1rem 1rem;
}

.links {
    display: grid;
    grid-template-columns: 1fr;
    order: 2;
}

.linkGroup {
    align-content: start;
    display: grid;
    gap: 1em;
    color: rgb(var(--venia-global-color-black));
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

    .links {
        grid-template-columns: repeat(3, 1fr);
        order: 2;
    }

    .subscribe {
        order: 1;
    }

    .linkGroup:nth-child(2) {
        justify-self: center;
    }

    .linkGroup:last-child {
        justify-self: flex-end;
    }
}

@media (min-width: 1280px) {
    .main {
        grid-template-columns: 6fr 5fr;
        grid-template-rows: 1fr;
        order: 1;
    }

    .subscribe {
        order: 2;
    }

    .linkGroup {
        padding-top: 1.5rem;
    }
}

.arrowRight {
    padding-right: 5px;
}

.linkItem {
    display: flex;
    align-items: center;
    font-weight: var(--venia-global-fontWeight-semibold);
}

.linkItem:hover {
    color: rgb(var(--venia-global-color-orange-400));
    --stroke: rgb(var(--venia-global-color-orange-400));
}

.linkItem:first-child {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(var(--venia-global-color-primary));
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.socialLinks {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
}

.branding {
    align-items: center;
    border-top: 2px solid rgb(var(--venia-global-color-gray-100));
    display: grid;
    grid-area: brand;
    grid-auto-flow: column;
    grid-template-areas: 'a b c';
    grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
    height: 4rem;
    justify-self: center;
    padding: 0 1.5rem;
    width: 100%;
}

@media (max-width: 960px) {
    .branding {
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas: 'c' 'b' 'a';
        grid-template-columns: auto;
        height: auto;
        justify-items: center;
        padding: 2.5rem 2rem 4rem;
        text-align: center;
    }
}

.legal {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-area: c;
    grid-auto-flow: column;
    justify-content: end;
}

@media (max-width: 960px) {
    .legal {
        justify-content: center;
    }
}

.copyright {
    grid-area: a;
}
