.horizontalMenu {
    display: none;
}

@media (min-width: 1280px) {
    .horizontalMenu {
        grid-column-end: 10;
        grid-column-start: 3;
        justify-self: center;
        display: flex;
    }
}
