.menuItem {
    width: 100%;
}

.menuItem:hover {
    background-color: rgb(var(--venia-global-color-gray-100));
}

.menuLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 10px 20px;
    height: 2.25rem;
    position: relative;
}

.menuLinkActive {
    composes: menuLink;
}

.menuLink::before {
    content: '';
    display: block;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgb(var(--venia-global-color-primary));
}

.menuItem:hover .menuLink:before {
    opacity: 1;
}

.menuItem_active {
    composes: menuItem;
    display: flex;
}

.arrowRight {
    padding-left: 0.5rem;
    line-height: 0;
    --stroke: rgb(var(--venia-global-color-gray-700));
}
