/* Large screen styles */
.menu {
    display: none;
}

@media (min-width: 1024px) {
    .menu {
        font-size: var(--venia-global-fontSize-100);
        margin-top: -7px;
        border: 1px solid rgb(var(--venia-global-color-gray-100));
        width: 250px;
        background: rgb(var(--venia-global-color-white));
        color: rgb(var(--venia-global-color-gray-700));
        flex-direction: column;
        position: absolute;
    }
}
