.submenu {
    background-color: rgb(var(--venia-global-color-gray-50));
    border: 1px solid rgb(var(--venia-global-color-gray-100));
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    width: 100vw;
    padding: 20px 0 20px 30px;
}

@media (min-width: 1024px) {
    .submenu {
        max-width: 768px;
    }
}

@media (min-width: 1280px) {
    .submenu {
        max-width: 896px;
    }
}

@media (min-width: 1536px) {
    .submenu {
        max-width: 1024px;
    }
}

.submenu::before {
    box-shadow: inset 0 2px rgb(var(--venia-global-color-gray-100));
    content: '';
    height: 10px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.submenu_active {
    composes: submenu;
    display: flex;
}

.submenuItems {
    display: flex;
    flex-direction: column;
    max-width: var(--venia-global-maxWidth);
}
