.submenu {
    background-color: rgb(var(--venia-global-color-gray-50));
    border: 1px solid rgb(var(--venia-global-color-gray-100));
    display: none;
    height: calc(100% + 2px);
    left: 100%;
    overflow-y: auto;
    padding: 20px 0 20px 30px;
    position: absolute;
    top: -1px;
    width: 100vw;
}

@media (min-width: 1024px) {
    .submenu {
        max-width: 768px;
    }
}

@media (min-width: 1280px) {
    .submenu {
        max-width: 896px;
    }
}

@media (min-width: 1536px) {
    .submenu {
        max-width: 1024px;
    }
}

.submenu_active {
    composes: submenu;
    display: block;
}

.submenuItems {
    max-width: var(--venia-global-maxWidth);
    flex-flow: column wrap;
    display: flex;
}
